*{
    margin: 0px;
    padding: opx;
}
.quiz{
     text-align: center;
     box-shadow: 10px 10px 10px 10px grey;
     margin-top: 5%;
     margin-left: 25%;
     margin-right: 25%;
     padding: 20px;
    
}
.box{
    padding: 20px;
}
#ques1,#ques2,#ques3{
    margin-bottom: 10px
}
.btn{
    background-color: green;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}
.box2{
    text-align: center;
    box-shadow: 10px 10px 10px 10px grey;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 20px; 
    padding-bottom: 20px;
   
    
}